{% extends 'website/base.html' %}

{% block content %}




<h1>salut</h1>

<p>----------</p>
    <p>author : {{ message.author.username }}</p>
<p>----------</p>
    <p>{{ message.title }}</p>
   <p>{{ message.content }}</p>
<p>----------------</p>
    {% if request.user == message.author %}
    <a href="{% url 'edit_message' message.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'delete_message' message.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
<a class="btn btn-primary" href="{% url 'home_bidule' %}">bidule</a>



{% endblock %}